@charset "UTF-8";

body{
    margin: 0;
    background-image: url(imgs/espaco.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    /* vw unit is based on viewport width */
}

img#astro{
    display: block;
    margin: 0;
    max-width: 50%;
    align-items: center;
    transition: all 1s;
    box-sizing: border-box;
}

img#astro:hover{
    transform: rotate(180deg); /* Added flipping animation */
}