:root{
    --fonte_01: 'Roboto', sans-serif;
    --cor_fundo_01: rgb(36, 58, 114);
    --cor_titulo_b: white;  
    --cor_titulo_p: black; 
}

body{
    background-color: var(--cor_fundo_01);
    font-family: var(--fonte_01);
    margin: 0;
}

h1{
    color: var(--cor_titulo_b);
    text-align: center;
}

header{
    padding: 10px;
    text-align: center;
}

section{
    margin: 0 auto;
    min-width: 300px;
    max-width: 40%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center; /* Center content within section */
}

img.imagem{
    padding: 10px;
    border-radius: 50%;
    width: 195px; /* Increase the size by 30% */
    height: 195px; /* Increase the size by 30% */
    display: block;
    margin: 0 auto; /* Center the image */
}

p{
    color: black; /* Always black */
    text-align: center;
}

footer p{
    font-style: italic;
    font-size: 0.7em;
}